*{
    margin:0;
    padding:0;
    }

body{
    background-color: #b0c4b1 ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #240046;
    background-color: #ffc8dd;

}

#reset{
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #d4a373;
    border: none;
    font-size: 6vmin;
}

